.folder-manager {
  color: white;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #001b35;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.folder-input {
  color: black;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-folder-button {
  background-color: #02386e;
  border: solid 1px #070a27;
  width: 130px;
  height: 30px;
}

.message {
  margin-top: 10px;
  color: white;
}
